<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI74IqT63wk6QzP1ApqkhNgCER6bVwiB4</string>
	<key>GCM_SENDER_ID</key>
	<string>49345372094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.rahier.chickenrush1</string>
	<key>PROJECT_ID</key>
	<string>chickenrush-e42fa</string>
	<key>STORAGE_BUCKET</key>
	<string>chickenrush-e42fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:49345372094:ios:e9f4ac51d25e7878e323ef</string>
</dict>
</plist>
